<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aus.repository.db.mybaits.UserMapper">
    <resultMap id="BaseResultMap" type="com.aus.repository.po.UserPO">
        <id column="id" property="id" />
        <id column="role_id" property="roleId" />
        <result column="real_name" property="realName" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="disable" property="disable" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <insert id="insert">
      insert into t_user(real_name,account,create_date) values (#{realName},#{account},#{createDate})
    </insert>

    <select id="select" parameterType="com.aus.repository.po.UserPO" resultMap="BaseResultMap">
        select * from t_user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="realName != null and realName != ''">
                and real_name = #{realName}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
        order by create_date desc
    </select>

    <update id="update">
        update t_user
        <set>
            <if test="roleId != null">
                role_id=#{roleId},
            </if>
            <if test="realName != null and realName != ''">
                real_name=#{realName},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
        </set>
        <where>
            <if test="id != null">
                id=#{id}
            </if>
            <if test="account != null and account != ''">
                and account=#{account}
            </if>
        </where>
    </update>

    <delete id="delete">
        delete from t_user where account=#{account}
    </delete>

</mapper>